<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeSnippetStudio_Extension.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CodeSnippetStudio_Extension.My.MySettings>
      <setting name="PreferredTheme" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="PreferredLanguage" serializeAs="String">
        <value>Text</value>
      </setting>
      <setting name="EditorFont" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </CodeSnippetStudio_Extension.My.MySettings>
  </userSettings>
</configuration>